<%= form_with(model: exercice, local: true) do |form| %>
  <% if exercice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exercice.errors.count, "error") %> prohibited this exercice from being saved:</h2>

      <ul>
      <% exercice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :category_id%>
    <%= form.select :category_id, Category.all.collect { |user| [user.name, user.id] }, class: 'form-control'   %>
  </div>

  <div class="field">
    <%= form.label :repetition %>
    <%= form.text_field :repetition, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
